* {
	padding: 0;
	margin: 0;
}

.pizzaBox {
	padding: 10px 0 15px 0;
	background-color: #e61a39;
	margin: 0 10px 20px;
	width: 555px;
	text-align: center;
	border-radius: 10px;
	float: left;
	box-sizing: border-box;
	height: 515px;
}

ul {
	list-style: none;
	position: relative;
	left: 175px;
}

.pizzaName {
	margin: 10px 0 10px 0;
	color: #fff;
	font-size: 24px;
}

.pizzaPara {
	margin: 10px auto 15px auto;
	color: #fff;
	width: 380px;
	text-align: center;
	font-size: 15px;
}

.pizzaPrice {
	margin: 10px 0 15px 0;
	color: #fff;
	font-size: 18px;
}

.pizzaButton {
	padding: 10px 35px;
	color: #e61a39;
	margin: 20px 0 10px;
	font-size: 16px;
}

.pizzaHeading {
	margin: 20px 0 10px;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-family: sans-serif;
}

body {
	background-color: #333;
}
* {
	padding: 0;
	margin: 0;
}

.pizzaBox {
	padding: 10px 0 15px 0;
	background-color: #e61a39;
	margin: 0 10px 20px;
	width: 555px;
	text-align: center;
	border-radius: 10px;
	float: left;
	box-sizing: border-box;
	height: 515px;
}

ul {
	list-style: none;
	position: relative;
	left: 175px;
}

.pizzaName {
	margin: 10px 0 10px 0;
	color: #fff;
	font-size: 24px;
}

.pizzaPara {
	margin: 10px auto 15px auto;
	color: #fff;
	width: 380px;
	text-align: center;
	font-size: 15px;
}

.pizzaPrice {
	margin: 10px 0 15px 0;
	color: #fff;
	font-size: 18px;
}

.pizzaButton {
	padding: 10px 35px;
	color: #e61a39;
	margin: 20px 0 10px;
	font-size: 16px;
}

.pizzaHeading {
	margin: 20px 0 10px;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-family: sans-serif;
}

body {
	background-color: #333;
}
